.accordian-inner {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in;
}

.accordian-trigger:checked ~ .accordian-inner {
  max-height: 30rem;
}

.accordian-trigger:checked + .accordian-label::after {
  transform: rotate(315deg);
}

.accordian-icon {
  transition: 0.3s;
  transform: rotate(0deg);
  line-height: 2;
}

.accordian-trigger:checked + .accordian-label .accordian-icon {
  transform: rotate(315deg);
}
