.dropdown-list {
  top: 100%;
  left: 50%;
  width: 400px;
  transform: translateX(-50%) rotateX(90deg);
  transition: 0.5s ease-in-out;
  transform-origin: left top;
}

.top-menu-link:after {
  content: "";
  width: 100%;
  height: 4px;
  background: orange;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotateY(90deg);
  transform-origin: left top;
}

.top-menu-link:hover {
  &:after {
    transition: 0.4s ease-in-out;
    transform: rotateY(0deg);
  }
  .dropdown-list {
    transform: translateX(-50%) rotateX(0deg);
    z-index: 999;
  }
}
